* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --background: #000136;
    --color-text: #fff;
    --nav-foot: #02020270;

    --roboto-condensed: "Roboto Condensed", sans-serif;
    --playfair-display: "Playfair Display", serif;
}

body {
    width: 100%;
    font-family: var(--roboto-condensed);
    background-color: var(--background);
    color: var(--color-text);
}

.nav {
    background-color: #00000091;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    transition: all .5s ease-in;
    transform: translateY(120%);
    cursor-pointer: none;
    opacity: 0;
    z-index: 3;
}

.nav__lists {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.nav__link {
    color: currentColor;
    font-size: 1.5em;
}


.bi{
    font-size: 3rem;
}

.unset{
    opacity: 1;
    transform: translateY(0);
    cursor-pointer: unset;
}

#checkbox {
    display: none;
}

#checkbox:checked {

}

.header__label {
    position: fixed;
    background-color: #060606;
    border: 1px solid #ffffff5c;
    border-radius: 50%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.311);
    bottom: 2em;
    right: 2em;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    z-index: 5;
}

.bars {
    width: 40px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1 {
    width: 20px;
}

#bar2 {
    width: 30px;
}

#checkbox:checked+.header__label .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.header__label #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
}

#checkbox:checked+.header__label #bar1 {
    width: 40px;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.header__label #bar3 {
    width: 40px;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.header__label {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.main {}

.section {
    /* background-color: #86868650; */
    margin-bottom: 2em;
    width: 100%;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__black {
    margin-inline: auto;
    width: 90%;
    border-radius: 10px;
    background-color: #00000091;
}

.section__title {
    font-family: var(--playfair-display);
    font-size: 2.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.write {
    font-weight: normal;
}

.social {
    margin-top: 2em;
    display: flex;
    gap: 1em;
}

.social__link {
    color: currentColor;
    font-size: 2rem;
}

.social__link:hover {
    color: #b0b0b0;
}

.footer {
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--nav-foot);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(10px);
    margin-inline: auto;
    text-align: center;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.footer__link {
    font-weight: normal;
    color: currentColor;
}

.footer__social {
    display: flex;
    gap: 1rem;
}

.footer__social .social__link {
    font-size: 1.2rem;
}

@media (width > 648px) {

    .header__label{
        display: none;
    }

    .nav {
        width: unset;
        height: unset;
        transform: unset;
        background-color: var(--nav-foot);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(10px);
        top: 1rem;
        left: 0;
        right: 0;
        bottom: unset;
        margin-inline: 1rem;
        opacity: unset;
        transition: unset;

        padding: 1.2rem;

        flex-direction: row;
        justify-content: space-between;
        border-radius: 15px;
    }

    .nav__lists{
        flex-direction: row;
    }

    .nav__link{
        font-size: 1.1rem;
    }

    .main {
        padding-top: 1.5em;
    }

    .bi {
        font-size: 1.5rem;
    }

    .nav__lists {
        display: flex;
        gap: 2rem;
    }

    .nav__link {
        color: inherit;
    }

    .nav__label {
        display: none;
    }

    .footer {
        width: unset;
        margin-inline: 1.2rem;
        flex-direction: row;
        justify-content: space-between;
    }
}